:root {
  --mural-pink--base: 336, 100%;
  --gray--base: 0, 0%;
  --l: 50%;

  --mural-pink--100: hsl(var(--mural-pink--base), calc(var(--l) + 40%));
  --mural-pink--200: hsl(var(--mural-pink--base), calc(var(--l) + 30%));
  --mural-pink--300: hsl(var(--mural-pink--base), calc(var(--l) + 20%));
  --mural-pink--400: hsl(var(--mural-pink--base), calc(var(--l) + 10%));
  --mural-pink--500: hsl(var(--mural-pink--base), var(--l));
  --mural-pink--600: hsl(var(--mural-pink--base), calc(var(--l) - 10%));
  --mural-pink--700: hsl(var(--mural-pink--base), calc(var(--l) - 20%));
  --mural-pink--800: hsl(var(--mural-pink--base), calc(var(--l) - 30%));
  --mural-pink--900: hsl(var(--mural-pink--base), calc(var(--l) - 40%));

  --gray--100: hsl(var(--gray--base), calc(var(--l) + 40%));
  --gray--200: hsl(var(--gray--base), calc(var(--l) + 30%));
  --gray--300: hsl(var(--gray--base), calc(var(--l) + 20%));
  --gray--400: hsl(var(--gray--base), calc(var(--l) + 10%));
  --gray--500: hsl(var(--gray--base), var(--l));
  --gray--600: hsl(var(--gray--base), calc(var(--l) - 10%));
  --gray--700: hsl(var(--gray--base), calc(var(--l) - 20%));
  --gray--800: hsl(var(--gray--base), calc(var(--l) - 30%));
  --gray--900: hsl(var(--gray--base), calc(var(--l) - 40%));

}

.App {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-rows: 72px auto 16px;
  grid-template-columns: 32rem auto;
}

.App__header {
  border-bottom: var(--gray--300) thin solid;
  display: grid;
  justify-content: center;
  align-content: center;
  background: var(--mural-pink--500);
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  grid-column: span 2;
}

.App__aside {
  border-right: var(--gray--300) thin solid;
  display: grid;
  grid-template-rows: auto auto 999fr;
  overflow: auto;
  height: 100%;
}

.App__footer {
  background: var(--gray--800);
  grid-column: span 2;
}

.App__main {
  overflow: auto;
  gap: 1rem;
  padding: 1rem;
  margin: 0 auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(32rem, 1fr));
  align-content: flex-start;
}

.FileUpload {
  display: grid;
  align-content: flex-start;
  padding: 1rem;
  height: fit-content;
}

.FileUpload__label {
  display: grid;
  padding: 1rem;
  background: var(--gray--100);
  cursor: pointer;
}
.FileUpload__label:hover {
  background: var(--gray--200);
}
.FileUpload__label__text {
  font-size: 2rem;
  cursor: pointer;
}
.FileUpload__label__img {}
.FileUpload__label__input {
  cursor: pointer;
}
.FileUpload__submit {
  padding: 1rem;
  font-size: 2rem;
  background: var(--mural-pink--500);
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  border: none;
  cursor: pointer;
}
.FileUpload__submit:hover, .FileUpload__submit:focus {
  background: var(--mural-pink--700);
}

.FileUpload__submit:disabled {
  background: var(--gray--300);
  cursor: not-allowed;
}

.FileInfo {
  border-radius: 0.5rem;
  overflow: hidden;
  width: 100%;
  height: 32rem;
  display: flex;
  flex-direction: column;
}

.FileInfo__name {
  font-family: 'Courier New', Courier, monospace;
  padding: 1rem;
  background: #434343;
  color: white;
  display: grid;
  gap: 0.5rem;
}
.FileInfo__img {
  padding: 0.5rem;
  background: var(--gray--800);
  width: 100%;
  height: 100%;
  object-fit: contain;
  overflow: hidden;
}
.FileInfo__img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.Payload {
  padding: 1rem;
  background: #434343;
  overflow: auto;
  color: white;
}
.Payload > pre {}
.Payload > pre > code {
  color: white;
  font-size: 0.7rem;
  font-weight: 700;
}

.FileToConvertInfo {
  padding: 1rem;
  display: grid;
  gap: 0.5rem;
  border-top: var(--gray--300) thin solid;
}
